.NoteBody{

    background-color: white;

    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 30px;

}

.textfieldinput{
    border: 2px solid rgb(229, 235, 229);
    border-radius: 8px;
}

.text{

    width: 500px;
    font-family: Roboto,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    height: 20px;
}

.Icons{

    display: flex;
    height: 20px;
}

.titlepin{

    display:flex;
    
}

.MuiInputBase-input{
    height: 10px !important;
}

form{

    display: flex;
    flex-direction: column;
}

form{
    position: relative;
    width:600px;
    margin:32px auto 50px auto;
    background: #fff;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 1px 7px rgb(128,128,128);
    
}
form input{
    width:100%;
    border:none;
    padding: 4px 10px;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    resize: none;
}
form textarea
{
    width:100%;
    border:none;
    padding: 4px 10px;
    outline: none;
    font-size: 1rem;
    resize: none;
}