.NoteBody{

    background-color: white;
    margin-top: 20px;
}

.textfieldinput{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}