.content2{

    display: flex;
    flex-direction: column;
}

.header{

    display: flex;
    flex-direction: row;
}

.fundoo{

    display: flex;
    flex-direction: row;
}

.searchIcon{
    height: 7vh;
    color: black;
    padding: 1px;
}

.body2{

    display: flex;
    flex-direction: column;
    border: 50px solid black;
}

#f{

    color: blue;
}

#u{

    color: red;
}

#n{

    color: green;
}

#d{

    color: yellow;
}

#o{

    color: grey;
}

#x{

    color: brown;
}


@media screen and (max-width: 450px) {

.search {
    display: flex;
    flex-direction: row;
    position: relative;
    border: 1px solid transparent;
    background-color: #f1f3f4;
    height: 50px;
    margin-left: 100px;
    border-radius: 8px;
    position: relative;
    width: 750px;
    padding: 10px
}
}