.content{

    display: flex;
    flex-direction: column;
}

.body{
    display: flex;
    flex-direction: row;
}

.left{

    flex: 3;
    width:400px;
}

.right{

    flex: 3;
    max-width:400px;
}

.extra{
    border: 0.5px grey;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.inside{

    display: flex;
    justify-content: space-evenly;
}

.image{

    height:100px;
    width: 150px;
}

.space{

    height:20px;
}

.header{
    height:30px;
}

a{
    display: flex;
    align-items:baseline;
}